@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext);

body{
  font-family: 'Ubuntu Condensed';
  margin: 0 auto;
  padding:0;
  ul{
  list-style-type: none;
  }
  img{
    width: 100%;
    height: auto;
  }
  a:link{
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
header {
  width: 100%;
  height: 0;
  color: white;
  background-image: url("../img/bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: 38%;
  padding-right:10%;
  padding-left:10%;
  position:relativel;

  .container{
    padding-right:10%;
    padding-left:10%;
  }
}
section{
  padding: 2% 10% 2% 10%;
}

.description{
  .flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

    .box{
      width: 300px;
      height: 300px;
      flex-grow: 2;
      border:1px solid yellow;

    }
  }
}
.about-section{
  background-color:#E7E7E7;
}
.opinion{

}
.price-plan{
  background-color:#E7E7E7;
  padding-bottom: 27%;
  text-align: center;
  p{
    padding: 2% 0 2%;
  }
}
.priece-table{
  display: table;
  padding-top:2%;
}
.product{
  width: 25%;
  float: left;
  border: 1px solid #fff;
  background: #eee;
  border: 1px solid #fff;
  .name > h3 {
    background-color: #3598DB;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 3px #000;
  }
  .price{
    text-align: center;
    line-height: 30px;
    font-size: 2em;
    margin: 0 auto;
  }
  .parameters{
    list-style: none;
    padding: 0;
    margin: 20px 0 20px;
    border-top: 1px dashed #E7E7E7;
    border-bottom: 1px dashed #E7E7E7;
    color: #000;
    font-size: 0.9em;
    text-align: center;
    li{
      padding:5px;
    }
    :nth-child(odd){
      background: #E7E7E7;
    }
    :nth-child(even) {
      background: #eee;
    }
  }
  .buy{
    background-color: #3598DB;
    display: table;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 3px #000;
  }
}
.socialmedia{
  text-align: center;
  p{
    color: #ABACAC;
  }
}

footer{
  background-color:#E7E7E7;
  color: #ABACAC;
  text-align: center;
  padding: 2% 10% 2% 10%;
  a:link{
    color: #ABACAC;
  }
  a:hover{
    color:#000000;
  }
  li{
    display: inline-block;
    padding-right: 2%;
  }
}

